body {
    background-color: lightblue;
}

.heading {
    background-color: darkblue;
    text-align: center;
    border: 2px solid lightgray;
    border-radius: 4px;
    margin: auto;
}

h1 {
    color:white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding-top:20px;
    padding-bottom: 20px;
}

.paragraph {
    text-align: center;
    padding-top: 20px;
}

.myform {
    text-align: center;
    padding-top: 20px;
}