<!doctype html>
<html>
    <head>
        <title>Complete Application</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="heading"><h1>Your Registration is Complete</h1></div>
        <div class="paragraph"><p>Excellent {{firstname}}! Thank you for registering!</p></div>
    </body>
</html>