<!doctype html>
<html>
    <head>
        <title>Registration Application</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="heading"><h1>Registration App</h1></div>
        <div class="paragraph"><p>Provide the info you are requested and press Submit</p></div>
        <div class="myform"><form method="POST" action="/complete">
            First name:<br>
            <input type="text" name="firstname"><br>
            Last name:<br>
            <input type="text" name="lastname"><br>
            <input type="radio" name="gender" value="male" checked> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            <input type="radio" name="gender" value="other"> Other<br>
            <input type="submit" value="submit">
        </form></div>
    </body>
</html>